# Python
__pycache__/
*.py[cod]
*.so
# Distribution
dist/
build/
# setup
*.egg-info
# Jupyter
.ipynb_checkpoints
# Environment
venv/
.env
# Data
data/raw/test.csv
data/raw/train.csv
data/processed
# data/processed/
# !data/raw/raw.csv.dvc
# !raw.csv.dvc
# Models
# models/trained/
# models/artifacts/
# pycharm
.idea
# logs
.log
.logs
logs
# Feature Store
feature_repo